:root{
    --text: black;
    --primary: rgb(128, 31, 207);
    --text-reverse: white;
}

.brand{
    color: var(--primary);
    font-weight: bold;
}

#app{
    min-height: 90vh;
}


.dropzone-container{
    min-width: 30vw;
    min-height: 50vh;
}

.dropzone{
    border: 4px solid var(--text);
    width: 50%;
    height: 80%;
    border-style: dashed;
}

.file-attached{
    width: 100%;
}

.button{
    background-color: var(--primary);
    color: var(--text-reverse);
}

.hidden{
    display: none !important;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: 50vw;
}

.loader {
    border: 4px solid rgba(238, 130, 238, 0.3);
    border-top: 4px solid var(--primary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

#processBtn:hover{
    scale: 1.2;
}

#filename{
    overflow-y:scroll;
    width: 100%;
    height: 25px;
}

.content{
    width: 70vw;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

@media screen and (max-width: 768px) { 
    .dropzone-container{
        min-width: 90vw;
        min-height: 30vh;
    }

    .loading-container{
        min-width: 90vw;
    }

    .dropzone{
        width: 90%;
    }

    .content{
        width: 90vw;
    }
}