---
import "bulma/css/bulma.min.css";
import 'boxicons/css/boxicons.min.css'
import '../style/style.css'

const {title} = Astro.props;
const brand = 'docupix'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/LOGO-WEB.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Free PDF to PNG Converter, privacy-first, no upload needed">
		<title>{title}</title>
	</head>
	<body class="p-4">
			<nav class="is-flex is-justify-content-center is-size-3 is-align-items-center">
				<a href="/" class="brand">{brand}</a>
				<!-- <p class="mx-2 stabilo p-1">Free PDF to PNG Converter</p> -->
				<!-- <a href="/" class="brand button">Home</a> -->
			</nav>
		<slot />

		<hr>

		<footer class="is-flex is-justify-content-center is-align-items-center is-flex-direction-column p-4">
			<p class="brand">docupix</p>
			<div class="my-3">
				<a href='/aboutUs' class="link mx-1">About Us</a>
				<a href="" class="link mx-1">Blog</a>
				<a href="/contact" class="link mx-1">Contact</a>
			</div>
		</footer>
	</body>
</html>

